[2019-07-10 18:43] Psychokiller1888 opened #9 "TEST ISSUE"
THIS IS A TEST

[2019-07-10 19:23] maxbachmann opened #11 "fix schema"
the dialog schema is still broken:
right now it checks whether useSynonyms is set to true and when it is true it requres the synonym parameter. However it apparently does not check this for each slot, but only once and the requires it for each slot

[2019-07-10 20:14] maxbachmann commented on #11
template fixed but travis does not always throw on error

[2019-07-10 21:20] maxbachmann commented on #11
the schema is fixed

[2019-07-10 21:20] #11 closed, assigned to maxbachmann

[2019-07-12 21:37] maxbachmann opened #14 "endTalk parameters"
[code]
in endTalk and similar functions theres always the parameter sessionId and client. Shouldn´t these parameters be known to the manager anyways?

in fact there are already a few calls to endTalk, where client is not added and even some where both are not added. Whats the reason they are added in the other places?

[2019-07-13 04:06] Psychokiller1888 commented on #14
client is of no use anymore, as the Snips session knows where to end a session. But sessionId is needed, to tell Snips which session you want to end :)

[2019-07-13 10:42] maxbachmann commented on #14
thanks for the clarification

[2019-07-13 10:42] #14 closed, assigned to nobody

[2019-07-15 19:39] maxbachmann opened #15 "wrong sentences"
https://github.com/project-alice-powered-by-snips/ProjectAliceModules/blob/master/PublishedModules/ProjectAlice/ContextSensitive/talks/fr.json
appears to have the wrong sentences when compared to https://github.com/project-alice-powered-by-snips/ProjectAliceModules/blob/master/PublishedModules/ProjectAlice/ContextSensitive/talks/en.json
(the .py uses the two sentences used by the english version)

[2019-07-15 19:40] Psychokiller1888 commented on #15
Correct, these are the currency converter strings, dunno why

[2019-07-15 20:41] maxbachmann commented on #15
Also in https://github.com/project-alice-powered-by-snips/ProjectAliceModules/blob/master/PublishedModules/ProjectAlice/RedQueen/talks/fr.json the translations for onGoingBed are missing :)

[2019-07-16 13:34] Psychokiller1888 commented on #15
onGoingBed missing is normal, it's because I have in mind that alice creates a github issue when she's missing a translation

[2019-07-16 13:34] #15 closed, assigned to nobody

[2019-08-09 00:33] maxbachmann opened #18 "grammar mistakes in answers"
in the skill Alice Satellite there is for example the training example
```what is the temperature {outside:=>Room}``
the answer is:
"It is currently {1} degrees in the {0}",
This has two problems:
1) when the room is for example outside, the answer sentence should be
it is currently 5 degrees outside and not is is currently 5 degrees in the outside
2) when the temperature is a singular (1 degree o

[2019-08-19 17:25] jr-k commented on #9
That will be closed :D

[2019-08-19 17:25] #9 closed, assigned to nobody

[2019-09-21 11:58] maxbachmann opened #24 "french translations"
- the french translation  of findMy Phone is the dummy translation
- ~~in the french translation of aliceCore more/less slots are used while they got removed from the others~~ removed

[2019-09-23 13:25] maxbachmann commented on #24
was fixed in commit 9b537c3815e8f4549afe923586c79dbd9575952

[2019-09-23 13:25] #24 closed, assigned to nobody

[2019-10-05 01:18] maxbachmann opened #37 "iss module widget"
when reloading the webpage the iss icon first pops up at the 0 coordinate of the world map and then jumps to the correct positions.

[2019-10-05 04:09] Psychokiller1888 commented on #37
Yep, because it needs to be initialized somewhere. I can try to mitigate this

[2019-10-05 04:23] #37 closed, assigned to Psychokiller1888

[2019-10-05 04:25] Psychokiller1888 commented on #18
Be carefull with alice satellite. Many things, like the temperature, are gone. Telemetry module is due to overtake it all

[2019-10-05 22:29] maxbachmann commented on #18
ok

[2019-10-08 14:05] glueckself opened #40 "Utterances and being nice to Alice"
Hi!

When writing utterances, do I have to write all of them with and without "please" (e.g. "Please play music", "play music", "Please turn on the music", "Turn on the music", ...) for the mood system to work or do I just write the simple version ("play music", "Turn on the music") and the NLU takes care of "please"? (or is the other way around - all utterances must contain "please"? or does it m

[2019-10-08 14:06] Psychokiller1888 commented on #40
Nope, you don't need to append please to all your utterances, make some with and some without, it increases the match percentage.

[2019-10-08 14:22] glueckself commented on #40
Ok, thanks.
Have I missed that in the wiki? If not, would you mind adding that? I guess other people might ask the same.

[2019-10-08 14:24] maxbachmann commented on #40
I do not think so, but you write utterances here the same way you would for normal snips.

[2019-10-08 14:27] Psychokiller1888 commented on #40
Well, yeah, utterances are ways for your intent to be spoken by any random people. Some will ask nicely such as "Please play the next track", others would rather just use "next track". Utterances are comparators to the voice that's been captured. If I have an utterance that is "please play the next track", me saying "please play the next track" should be a 100% match, but me saying "play the next

[2019-10-08 14:29] glueckself commented on #40
I see, thank you!

[2019-10-09 12:23] #40 closed, assigned to nobody

[2019-10-12 18:14] maxbachmann opened #54 "wikipedia module"
There is a warning for the wikipedia plugin. Maybe we should look out for a fork that fixed this, because the original wikpedia library we use is not maintainted since 5 years
[code]

[2019-10-13 04:09] Psychokiller1888 commented on #54
Ok, will try to find an alt

[2019-10-25 09:32] maxbachmann commented on #54
https://github.com/lehinevych/MediaWikiAPI appears to be a maintained fork

[2019-10-25 10:00] Psychokiller1888 commented on #54
Or simply use their API, I mean it's nearly nothing, just a request to an endpoint and voilà

https://www.mediawiki.org/wiki/API:Main_page

Would remove the need for a third party python module

[2019-10-31 01:35] maxbachmann commented on #54
that would be fine aswell

[2019-12-09 06:02] maxbachmann commented on #18
This can be handled using https://github.com/project-alice-assistant/ProjectAlice/pull/133 in the future

[2019-12-20 16:10] DanBmh opened #96 "Conversion of snips skills"
Do you have or plan to write a script for automatic conversion from snips skill layout to your layout?

Im thinking about converting my snips skills to be usable with alice, but for now i only moved the exported data from snips console to my git repository (See for example: https://gitlab.com/DANBER/Snips-MusicMaster).

As the conversion to your dialogTemplate form by hand would be very time consu

[2019-12-20 16:19] DanBmh opened #97 "Skills from other sources"
Do you plan to support the usage of skills from other repositories, git hosters like gitlab.com or self hosted repositories as snips did?
This would also allow the use of different licenses. I used AGPL instead of GPL for all of my snips skills.

[2019-12-20 16:20] Psychokiller1888 commented on #97
Not for released skills, no. Every single skill that is released here is read through by at least Max and me, to make sure it is safe to deploy

[2019-12-20 16:21] Psychokiller1888 commented on #96
I could look if a parser would be imaginable yes

[2019-12-20 16:36] maxbachmann commented on #96
the slots appear to have the same structure, so only the intents need the work.

[2019-12-20 16:53] DanBmh commented on #97
Ok, thanks for the fast answer.

[2019-12-20 16:53] #97 closed, assigned to nobody

[2019-12-20 17:02] maxbachmann commented on #97
@DanBmh Mycroft handles this different, so they have a skill repo with submodules.
An apparent advantage is as you say, that people can maintain it in different places. However this can be a big problem aswell, since it makes it harder for others to help especially in  case the skill creator is not very active this results in 'dead' skills, where people add e.g. translations, but they never get me

[2019-12-20 23:05] philipp2310 opened #98 "New Skill: Internet Uptime Tracker"
As I sometimes got some internet issues, I will implement an uptime tracker as next skill.
If somebody is faster - feel free ;)

Basic Idea:
- Ping configurable IP(s) every x Minutes
- Store results in telemetry

Additional:
- Scenario Events: Down, Up
- figure a way out, how to display the graphs (telemetry update?)

[2019-12-20 23:08] philipp2310 opened #99 "New Skill: Tasmota Temperature Logging"
Add MQTT messages from a tasmota device with temperature, humidity, atmospheric pressure to the telemetry database.

Supporting multiple rooms

Additional:
Make a widget(per room?) to display the current temperature

[2019-12-20 23:12] philipp2310 opened #100 "New Skill: Voicecontrole for Roborock"
Create a voice control for the roborock vacuum
probably rooted devices only:
- https://github.com/dgiese/dustcloud
- https://github.com/Hypfer/Valetudo

[2019-12-20 23:15] maxbachmann commented on #98
might make sense to combine this with https://github.com/project-alice-assistant/ProjectAliceSkills/tree/master/PublishedSkills/maxbachmann/Speedtest to create a ultimate skill to test how bad your internet is

[2019-12-20 23:18] philipp2310 opened #101 "New Skill: Discord Bot"
Let YOUR Alice join a specific discord channel.
Talk to her like it would be a room in your house

Usage:
- send commands from anywhere
- get notifications while not at home
- test new skills without really talking and don't annoy the rest of the room ;)

Risk:
- Security? Better user telegram/mail/whatever?

[2019-12-20 23:21] maxbachmann commented on #101
voice over mail xD

[2019-12-20 23:23] philipp2310 commented on #101
While joining a Discord voice channel would be possible as well, I would go for the text only variant for now xD

[2019-12-20 23:24] maxbachmann commented on #101
ah you mean text based :)
Yes I agree that this would be useful

[2019-12-20 23:28] maxbachmann opened #102 "New Skill: Github event tracker"
inform about new issues, commits, pull requests or whatever else the user might be interested in.
Optimal would be support for multiple providers like github, gitlab and bitbucket

[2019-12-22 16:42] Psychokiller1888 commented on #101
Problem is a bot is server wide, I'm not sure how it would target specific users

[2019-12-22 16:44] Psychokiller1888 commented on #99
That will be included for telemetry, but global device

[2019-12-22 16:44] Psychokiller1888 commented on #96
I used to love parsing. So I'll check what I can do

[2019-12-22 18:48] maxbachmann commented on #101
not really doing much with discord, so I do not know whether it is possible to have a discord bot that is only chatting with one person. At least in telegram this should be possible

[2019-12-22 19:06] philipp2310 commented on #101
So it basically would be a serverwide bot user that could reply to anybody and read everything posted to any channel it is on.

How did I solve it previously? I have an own Server only for my house members and the bot.
Of course with the right skill set (or user permission setup) it could be a public bot as well, that can serve as some kind of "auto mod". But for me: I don't want anybody else to s

[2019-12-22 19:12] maxbachmann commented on #101
I guess it might be a fun addition to have a alice installation for our discord server that can do some basic things like the calculator skill aswell

[2020-01-05 01:16] philipp2310 commented on #101
Routing all spoken text to a channel with the same name is done.
Next stop: Take the user written text(done) and start a new session with that as input.

Future:
enable text only (no real voice output by Alice) -> requires emulation of a few more Mqtt topics (sayFinished etc.)

[2020-01-07 23:26] philipp2310 commented on #101
Update:
Written messages are treated as input for Alice, she responds in the same discord channel. When there is a siteID with the same name as the channel, she will answer by voice as well.

Next stop:
refactoring!

[2020-01-10 23:14] philipp2310 commented on #101
https://github.com/philipp2310/skill_DiscordHook

working copy.
Next stop:
Add config for bot Token
Check for a discord.py version that works out of the box (currently keyboard interrupt events in the asyncio loop must be commented out manually - only in main thread)

[2020-01-11 08:54] Psychokiller1888 commented on #101
Very cool, good job! Will publish as soon as the new structure is live

[2020-01-12 23:42] philipp2310 commented on #101
Finally the Threads seem to be working in all cases and the pypi discord.py is working out of the box.
Config contains: Token, allowed Channels

Don't know any missing stuff for now - feel free to comment or just fork it in Project Alice!
https://github.com/philipp2310/skill_DiscordHook

And because I don't want to create an extra Issue for that: I created a tiny widget that allows to emulate Text

[2020-01-23 17:14] #101 closed, assigned to nobody

[2020-03-02 08:59] hipitihop opened #109 "speller skill fails install"
[code]

[2020-03-02 09:05] hipitihop opened #110 "wikipedia: thinks it is offline"
[code]

[2020-03-02 12:12] Psychokiller1888 commented on #109
That would mean you are on alpha 6 and the skill is on master because the icon is defined for the skill:
https://github.com/project-alice-assistant/skill_Speller/blob/master/Speller.install

[2020-03-02 12:20] Psychokiller1888 commented on #110
Might be fixed, but I'm not sure why she thinks she's offline, I cannot repro here

[2020-03-03 00:15] hipitihop opened #111 "[BUG] Bring Shopping Skill fails when asked what is on the list"
**Fails when asked for what is on the list**
**Failure:** `Cannot use unknown intent 'hermes/intent/deleteList_bringshop' in intents filter`

When I ask Alice `"what's on my shopping list"` she acknowledges intent recognised with audio ding, then silently fails.

It would be nice if there is a way to catch skill/intent exceptions like this higher up (for any skill) so that instead of silently fail

[2020-03-03 00:21] hipitihop commented on #109
speller now working, thanks

[2020-03-03 00:21] #109 closed, assigned to nobody

[2020-03-03 00:23] hipitihop commented on #111
Update: I reloaded the skill from skills console and now it no longer fails.

[2020-03-03 00:23] #111 closed, assigned to nobody

[2020-03-03 02:54] hipitihop commented on #110
Still not working. No idea why she thinks she's offline. I'm having no problem with Bring Shopping List skill which also requires online.

[2020-03-09 04:18] hipitihop opened #112 "[BUG] RandomUselessFacts no longer works. Source site changed"
**Random Useless Facts no longer works**
The original site has changed so scraping does not work.

Reported by @mjlill on Discord #general

Rather then scraping their HTML, perhaps we should ask them if they have an API that open source projects like Alice can use ? ideally they should provide a JSON response format option.

**To Reproduce**

**Expected behavior**

**Logs**

[code]

**Alice versio

[2020-03-09 05:14] Psychokiller1888 commented on #112
Looks like there's no api anymore... We'll see, maybe they are rebuilding the site

[2020-04-02 00:29] LazzaAU opened #113 "[New skill] OvenTemperatureConversion"
*Going through the correct skill submit process so i can test and see whats involved and advise if it needs tweaked :) *

- My skill name: OvenTemperatureConversion

- What does my skill do:
Gives you the ability to ask Alice to convert temperatures between Celsius and Fahrenheit and visa versa. Also has a feature for those with gas ovens to ask Alice things like "what gas mark is 425 degrees Fahr

[2020-04-02 11:42] Psychokiller1888 commented on #113
Thank you!

Gitlab CI: https://gitlab.com/project-alice-assistant/skills/skill_OvenTemperatureConversion
Forked at: https://github.com/project-alice-assistant/skill_OvenTemperatureConversion

Your skill passed all tests and is now available in the store!

[2020-04-02 11:42] #113 closed, assigned to Psychokiller1888

[2020-04-03 15:28] Psychokiller1888 commented on #113
Forget to mention: Please do subscribe to the fork, so you get alerted if anyone reports a bug

[2020-04-04 01:13] LazzaAU opened #114 "[Potential BUG ?] TextInputWidget skill"
**Describe the bug**
This may or may not be a expected outcome, but....
If using the TextInputWidget to trigger a responce from Alice that uses **self.continueDialog()**  Alice will run the code but NOT actually speak. Ask her the same thing via using your voice gives the expected outcome.

**To Reproduce**
Steps to reproduce the behavior:

1. i have the following code triggered from a intent. (my

[2020-04-04 05:00] Fe3lApAcUt opened #115 "[BUG] Adding new items in BringShoppingList not working"
**Describe the bug**
Not able to add an item in BringShoppingList.

**To Reproduce**
Steps to reproduce the behavior:
1. Ask Alice to add an item to the BringShoppingList

**Expected behavior**
The Item should be added to the BringShoppingList

**Logs**
Get your logs at ~/ProjectAlice/var/logs

[code]

**Alice version**
1.0.0-b1

[2020-04-04 07:42] Psychokiller1888 commented on #114
Unfortunately, as of now, the UI doesn't handle multi turn dialog through the text input widget.

[2020-04-04 07:46] LazzaAU commented on #114
all right cool. good learning curve

[2020-04-04 08:26] Fe3lApAcUt opened #116 "[BUG] nlu cache not purged if skill was deleted"
**Describe the bug**
nlu cache under `/home/pi/ProjectAlice/var/cache/nlu/trainingData` is not cleaned-up if un-installing a skill

**To Reproduce**
1. delete a skill
2. check nlu cache folder
3. JSON files from deleted skill is still there.

**Expected behavior**
If deleting a skill, Alice should delete the JSON files in nlu cache folder, too

**Logs**

[code]

**Alice version**
1.0.0-b1

**Addit

[2020-04-04 09:45] Fe3lApAcUt commented on #115
activeCountryCode and activeLanguage together build the locale for this skill (and others), e.g. de-DE, de-CH.
In my case it was set to de-US, which was not working.

[2020-04-04 09:45] Fe3lApAcUt commented on #115
Thanks, @philipp2310!

[2020-04-04 10:50] Fe3lApAcUt commented on #115
Only de-DE is working right now.

[2020-04-04 13:21] Psychokiller1888 commented on #115
yeah, but de-US is not a valid combination. de-CH is valid and should work no?

[2020-04-04 13:23] Psychokiller1888 commented on #116
How did you remove the skill?

[2020-04-04 13:39] mjlill opened #117 "HLC setup for generic devices and pin configuration"
**Describe the bug**
A clear and concise description of what the bug is.
1) The install setup improperly configures the /boot/config.txt  to be for the AIY hat.
2) The HLC does not have hardware defined
3) The /etc/asound.conf has incorrect settings

**To Reproduce**
Steps to reproduce the behavior:
Install Alice or Alice satellite
/boot/config.txt  should have set  the
dtparam=audio=on
#dtoverlay

[2020-04-04 14:55] Fe3lApAcUt commented on #116
as discussed via Discord: removed manually and via web interface.

Tested the new commit: deleted a skill via web interface, but still the cached json files are in the folder.

[2020-04-04 18:14] Fe3lApAcUt opened #118 "[BUG] FreeCurrencyConverter: setting API key via web interface not possible"
**Describe the bug**
setting API key via web interface not possible

**To Reproduce**
Steps to reproduce the behavior:
1. Open web interface
2. Skills
3. try to set API key for Free Currency Converter
4. Click Save

**Expected behavior**
API key should be save in config.json

**Logs**
[code]

**Alice version**
1.0.0-b1

[2020-04-04 18:14] Fe3lApAcUt commented on #118
Of course you can enter the API key directly in config.json

[2020-04-04 18:30] Fe3lApAcUt opened #119 "[BUG] FreeCurrencyConverter: converting not working"
**Describe the bug**
Converting from "Schweizer Franken" nach "Euro" not working

**To Reproduce**
Ask Alice to convert currency

**Expected behavior**
Alice should convert the currency

**Logs**
[code]

**Alice version**
1.0.0-b1

[2020-04-04 19:16] Fe3lApAcUt commented on #115
It should. Unfortunately it's not working, but it did in -a6.

[2020-04-06 00:09] mjlill opened #120 "Documentation duplicated text"
**Describe the bug**
A clear and concise description of what the bug is.
`https://docs.projectalice.io/skill-development/events.html#core-events`

**To Reproduce**

Appears to be written twice

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
Get your logs at ~/ProjectAlice/var/logs

[code]

**Alice version**
Master? Alpha, beta? What version?

**Addi

[2020-04-06 02:18] mjlill opened #121 "Admin button, utilities, reboot does not work"
**Describe the bug**
Title says it all, it also generates an error just before stopping

Error while shutting down manager unknownManager: 'MqttManager'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin button'
2. Click on 'utilities'
3. Scroll down to 'reboot'
4. does not reboot

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
Get y

[2020-04-06 02:45] mjlill opened #122 "Alice hangs if satellite doesn't respond"
**Describe the bug**
A clear and concise description of what the bug is.

2020-04-05 22:39:48,813 [Thread-17] - [WARNING] - [DeviceManager]           Device with uid 0822680e-f16d-4458-9e39-829ec274b952 has not given a signal since 5 seconds or more

This randomly occurs after a restart

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2020-04-06 07:06] Psychokiller1888 commented on #120
thanks!

[2020-04-06 07:06] #120 closed, assigned to nobody

[2020-04-06 07:07] Psychokiller1888 commented on #122
She doesn't hang, she marks the device as disconnected because it did not send heartbeats

[2020-04-06 07:08] Psychokiller1888 commented on #121
This doesn't belong to the skills repo

[2020-04-06 14:47] #122 closed, assigned to nobody

[2020-04-06 14:47] #121 closed, assigned to nobody

[2020-04-25 10:56] LazzaAU opened #123 "[New skill] Reminder"
- My skill name: Reminder

- What does my skill do:
It performs reminder tasks and Timer tasks and food timer tasks and Alarms

- The skill github repository url:
https://github.com/LazzaAU/skill_Reminder

- Did you check prior if there's already a skill existing that does the same?: Yes

  - If you answered yes:
    - Is there a skill already existing?: No

    - If you answered no:
      - Great

[2020-04-25 11:01] Psychokiller1888 commented on #123
So you don't believe in zombies?

[2020-04-25 11:08] LazzaAU commented on #123
think i answered that in the last skill i submitted :)

[2020-04-25 11:14] Psychokiller1888 commented on #123
:)

Thanks for your skill! It's now published:

Sonarcloud: https://sonarcloud.io/dashboard?id=project-alice-assistant_skill_Reminder
Gitlab: https://gitlab.com/project-alice-assistant/skills/skill_Reminder

ProjectAlice clone: https://github.com/project-alice-assistant/skill_Reminder

[2020-04-25 11:14] #123 closed, assigned to Psychokiller1888

[2020-05-12 05:47] poulsp opened #124 "[IDEA] Reminder make a simple timer"
An opportunity to make a simple timer when I make tea in the morning, I want a timer of 3-5 minutes, but the tea is done before I can set up a timer with all the questions answers. :)

Maybe a slot with synonyms "simple"
suggestions
synonyms:
simple
plain
~~fuck off~~
~~shut up~~
no question

[2020-05-13 01:39] LazzaAU commented on #124
Feature added

- Alice can now set a "Timer" (only) without a message by saying things like
    * set a quick timer for 3 minutes
    * create a short timer for 2 minutes
    * keywords to trigger this are : "quick", "short" "breif", "simple", "lazy"
    and she will now set a timer event without the need for a topic

    NOTE: the limitation on this quick timer function are.
        * if you rebo

[2020-05-13 05:59] #124 closed, assigned to nobody

[2020-06-15 15:41] philipp2310 commented on #99
temperature logging in telemetry has since been included for bme280, dht11 and dht22 into the tasmota skill.
Displaying in widget/myHome remains open

[2020-07-02 12:08] poulsp opened #125 "[IDEA] TextInputWidget skill settings"
It would be nice with a skill settings/config so you can choose which Site Id you want as default.

[2020-07-04 14:09] Psychokiller1888 commented on #125
You mean so that it auto fills?

[2020-07-05 09:18] philipp2310 commented on #125
shouldn't do stuff without first having a look at the issue again - hope you didn't already start as well :/

https://github.com/project-alice-assistant/skill_TextInputWidget/compare/3466cc6fa1...37d3180772

[2020-07-06 17:54] poulsp commented on #125
Yes I mean autofill.
Philipp, how do you set those options?

[2020-07-06 17:59] philipp2310 commented on #125
On the widget page,
go into edit mode (pencil in the corner)
click on the cog for the settings
click on the cog of the widget you want to adjust
enter your values in the popup
- save and maybe reload!

[2020-07-06 18:02] philipp2310 commented on #125
just noticed there is an issue with small screens: the text for the two parameters might not be visible
first one is siteId
second one is username

will take care of that in a while

[2020-07-06 20:35] philipp2310 commented on #118
thanks for reporting and sorry for the slow response, somehow went under my radar!

I just pushed a change for this issue.

[2020-07-06 20:38] philipp2310 commented on #112
api seems to be up again, will check

[2020-07-06 20:39] philipp2310 commented on #114
recheck with new dialog manager, already possible?

[2020-07-06 20:40] philipp2310 commented on #100
70% done, needs device links and settings for specific rooms

[2020-07-09 08:41] philipp2310 commented on #112
working for me without problems - please confirm for english and close

[2020-07-09 10:17] philipp2310 commented on #119
2 problems:
1. it should not try to read for "Schweizer Franken_Euro", that has to be "CHF_EUR" - the training would in theory translate that way, no Idea why it is not doing so at the moment
-> testing takes time... too many skills in my Alice ;)

2. there is currently no error when the requested currency doesn't exist in their database
-> locally fixed

[2020-07-09 10:28] philipp2310 commented on #119
1. -> using session.slots.get() but session.slots only contains RAW input - that is good for voice output, but for the technical case the session.slotValue() method has to be used!

[2020-07-09 14:26] philipp2310 commented on #112
retest by mpbs

[2020-07-09 14:26] #112 closed, assigned to philipp2310

[2020-07-09 14:44] poulsp commented on #125
Works as it should, apart from that it demand a big screen.

[2020-07-09 14:44] #125 closed, assigned to Psychokiller1888

[2020-07-09 21:23] philipp2310 commented on #119
please retest and close if successful! thanks!

[2020-07-10 12:59] philipp2310 opened #126 "[BUG] Satellite Widget is not showing saved mute status"
**Describe the bug**
Satellite mute status is not loaded on widget start

**To Reproduce**
Mute a satellite
reload the page
-> muted status disappears

**Expected behavior**
mute status is correctly loaded on start of the widget

**Alice version**
beta

[2020-07-10 15:22] philipp2310 commented on #114
implemented:
- new API /continue/ same as /process/ but requires a sessionId
- widget has a self filling/clearing sessionId field

[2020-07-10 15:22] #114 closed, assigned to philipp2310

[2020-07-10 19:19] philipp2310 commented on #126
fixed

[2020-07-10 19:19] #126 closed, assigned to philipp2310

[2020-07-10 19:56] philipp2310 commented on #115
de-CH is not a valid country combination in b1:

from config.py
`"de": {
            "default": False,
            "defaultCountryCode": "DE",
            "countryCodes": [
                "DE"
            ]
        },`

after adding in , "CH" bring! works for me again.

One more hint for this could be found in the startup logs: "CH not valid, falling back to US"

[2020-07-11 10:52] philipp2310 commented on #110
I can reproduce it here - will try to fix it

[2020-07-11 10:59] philipp2310 commented on #110
well, that might have been easier than I thought:
Changing to the `@Online` decorator fixes it for me
can you please confirm @hipitihop

[2020-07-12 12:54] philipp2310 commented on #115
psycho added de-CH to the accepted languages, should be fixed
please reopen if not working for you

[2020-07-12 12:54] #115 closed, assigned to philipp2310

[2020-07-15 06:18] LazzaAU opened #127 "[New skill] - Broadcast"
- My skill name: Broadcast

- What does my skill do: Hopefully work :)... send broadcast messages to and from Alice and available satellites

- The skill github repository url: https://github.com/LazzaAU/skill_Broadcast

- Did you check prior if there's already a skill existing that does the same?: Yes

  - If you answered yes:
    - Is there a skill already existing?: No

    - If you answered no

[2020-07-15 09:48] Psychokiller1888 commented on #127
Great job, thank you!

The fork is here: https://github.com/project-alice-assistant/skill_Broadcast

[2020-07-15 09:48] #127 closed, assigned to Psychokiller1888

[2020-07-16 23:07] philipp2310 commented on #110
reopen if occurs again

[2020-07-16 23:07] #110 closed, assigned to philipp2310

[2020-07-16 23:07] #119 closed, assigned to philipp2310

[2020-07-16 23:07] #118 closed, assigned to philipp2310

[2020-07-22 22:38] LazzaAU opened #128 "[BUG] - Telemtry.py"
**Describe the bug**
When asking Alice what temperature is it inside she doesn't recognise the stored data from the database.

Reason for this is that on line 48 of telemetry.py

 ```data = self.TelemetryManager.getData(siteId=siteId, ttype=TelemetryType(telemetryType))```

 returns
 ```<sqlite3.Row object at 0x68b8d9c0>```

 rather than the values.

changing data to tuple fixed this for me

In ad

[2020-07-27 03:02] LazzaAU opened #129 "[IDEA] - My Home - add a configure me button"
**Feature - Be able to configure a pre flashed Tasmota device with Alice compatible backlog commands**

I think it would be a nice feature in the "My Home" screen that once you've added a device to a room,.... when you click on the device you get the window that appears that says "search for device"..... i'm thinking perhaps in that screen as well as the "search for device" button you put a " just

[2020-07-27 07:03] philipp2310 commented on #129
the sidebar is fully dynamically created for all possible device types depending on their config.
Will need to extend it with dynamic function calls defined in the DeviceType classes - but sounds like a really good idea!
👍

[2020-08-02 22:28] philipp2310 commented on #128
fixed in that way in your commit: [f4f93955b3c63dc2062a74d103e151eddbbfcee3](https://github.com/project-alice-assistant/skill_Telemetry/commit/f4f93955b3c63dc2062a74d103e151eddbbfcee3)

yet working with the sqlite3.Row object should work.
re-added check if "data" exists at all -> Nonetype not iterable if no data exists in the database
removed the "data" declaration as tuple -> Row has the array ac

[2020-08-02 22:28] #128 closed, assigned to nobody

[2020-08-03 00:07] philipp2310 commented on #117
Two possibilities:
a) Add a dummy device to HLC without LEDs
b) extend yaml so the user can define what pins should be used

implemented a) but more tests needed.
b) Might be configurable via myHome Sat/AliceCore DeviceType to keep the yaml simple

[2020-08-04 16:00] philipp2310 commented on #117
fixed with a)
will move this as enhancement for implementing b) later

[2020-08-18 02:06] LazzaAU opened #130 "[New skill] - HomeAssistant"
- My skill name: HomeAssistant

- What does my skill do: Connects Alice to Home Assistant (HA) via a RESTful API. It then allows Alice to
1. Get a list of HA devices
2. Automagically write synonyms to dialogtemplate of known devices
3. Allows Alice to then turn on and off switches controlled by HA
4 and other features such as send certain sensor data to telemetry skill, report on dusk and dawn etc

[2020-08-18 04:24] Psychokiller1888 commented on #130
Thanks!

Btw, did you know that Sonar does check for code still, and projectalice-sk does check for errors in dialog templates, install templates and others?

Repo forked at: https://github.com/project-alice-assistant/skill_HomeAssistant

Please subscribe:
- https://gitlab.com/project-alice-assistant/skills/skill_HomeAssistant
- https://sonarcloud.io/dashboard?id=project-alice-assistant_skill_Home

[2020-08-18 04:24] #130 closed, assigned to Psychokiller1888

[2020-09-02 00:24] LazzaAU opened #131 "[New skill] BackUpAlice"
- My skill name: BackUpAlice

- What does my skill do: For forgetful people like me, it auto magically backs up the ProjectAlice folder to the home directory based on user configurable "days between backup". Handy utility for those of us living on the edge :-)

- The skill github repository url: https://github.com/LazzaAU/skill_BackUpAlice

- Did you check prior if there's already a skill existing

[2020-09-02 11:53] Psychokiller1888 commented on #131
Thanks!

Your skill: https://github.com/project-alice-assistant/skill_BackUpAlice
Subscribe to:
- https://sonarcloud.io/dashboard?id=project-alice-assistant_skill_BackUpAlice
- https://gitlab.com/project-alice-assistant/skills/skill_BackUpAlice

[2020-09-02 11:53] #131 closed, assigned to Psychokiller1888

[2020-09-04 23:56] philipp2310 commented on #99
creating new issue with more fitting name for displaying the telemetry

[2020-09-04 23:56] #99 closed, assigned to nobody

[2020-09-29 17:41] #96 closed, assigned to nobody

[2020-10-05 03:38] LazzaAU opened #132 "[New skill] - Skill Translator"
*Dear Psycho,Good morning : ).*

- My skill name: skillTranslator

- What does my skill do: This skill will translate a skill to the supported 4 langaugaes. It's code flow is .....
- "hey alice" >> "translate my skill"
- Alice will then look in the skill settings to determine translation requirements ( skill name, skill's default language and a optional skill path)
- it will loop through all 3 non

[2020-10-09 00:22] philipp2310 opened #133 "[IDEA] MS Teams Status"
**Is your feature request related to a problem? Please describe.**
When you are in a Teams/Skype call, Alice will from time to time have false positives for the wake word. I don't like this.

**Describe the solution you'd like**
When you are in a call, Alice will mute herself. When the call is over, she will unmute again.

**Describe alternatives you've considered**
Offer a scenario trigger for ch

[2020-10-09 00:24] philipp2310 commented on #100
published in a generic "Vacuum" Skill - open for implementations of other robots

[2020-10-09 00:24] #100 closed, assigned to philipp2310

[2020-10-09 11:58] poulsp opened #134 "[IDEA] skill_Reminder - skill config new settings"
In the skill config new settings:
A list of locations/rooms where the alarm should chime.
A exclude list f locations/rooms where the alarm should be silent in a time frame:
eg.
from: 23:00/11 PM
to: 7:00/7 AM

You are not always in the location where the Reminder is spoken and set in Alice.

/@nepo

[2020-10-09 14:22] LazzaAU commented on #132
I've made Enhancements to the Translator skill since original PR.

The skill now does the following

1. Translates talk files
2. Translates dialog files. It also removes the ```:=>keyValue}``` from the line to be translated, sends the line to google then puts that snippet back into the line so that it doesn't get translated and muck up the skills functionality.
3. Translates instructions providing

[2020-10-10 02:58] LazzaAU commented on #132
Also this morning just added option to translate only a selected folder if desired.. IE: just the dialog folder or Instructions or talks :)

[2020-10-11 05:19] Psychokiller1888 commented on #132
Thank you for your new skill! It was just added to our published skills:

Please subscribe to these:
- Get notified about new support tickets: https://github.com/project-alice-assistant/skill_SkillTranslator
- Get notified in case your new code quality is degrading: https://sonarcloud.io/dashboard?id=project-alice-assistant_skill_SkillTranslator
- Get notified if your new Pull Request failed build

[2020-10-11 05:19] #132 closed, assigned to Psychokiller1888

[2020-10-14 10:16] Psychokiller1888 commented on #116
Closing as no info since last fixes

[2020-10-14 10:16] #116 closed, assigned to Psychokiller1888

[2020-10-21 23:38] LazzaAU opened #135 "[New skill] AliceVolume"
- My skill name: AliceVolume

- What does my skill do:

 Let's the user change the volume of Alice on the fly by saying things like ,
- set volume to %50,
- raise volume by 10 percent
etc etc

- The skill github repository url : https://github.com/LazzaAU/skill_AliceVolume

- Did you check prior if there's already a skill existing that does the same?: Yes
  - If you answered no: **DO IT** and stop

[2020-10-23 12:12] philipp2310 commented on #135
Thank you for that skill :) was really waiting for something like that (baaad linux sound..^^)

This could be the perfect skill for "satellite skills", so skills that are installed and executed on the sat. as well. @Psychokiller1888 ;)

[2020-10-23 12:16] philipp2310 commented on #134
Fully agree - only a bit room for discussion for the "silent in a timeframe":
Would be a general "good night" state enough? Has it to be skill dependent setting?
What about "Create a Reminder for 7am with the message 'wake up'" - I usually don't allow reminders before 8am!

[2020-10-23 14:27] Psychokiller1888 commented on #135
Yes, I started implementing sat skills

[2020-10-23 14:28] Psychokiller1888 commented on #135
Thank you for your new skill! It was just added to our published skills:

Please subscribe to these:

Get notified about new support tickets: https://github.com/project-alice-assistant/skill_AliceVolume
Get notified in case your new code quality is degrading: https://sonarcloud.io/dashboard?id=project-alice-assistant_skill_AliceVolume
Get notified if your new Pull Request failed building: https://

[2020-10-23 14:28] #135 closed, assigned to Psychokiller1888

[2020-11-07 21:20] LazzaAU opened #136 "[BUG] On skill update feature not working"
**Describe the bug**

During a homeAssistant skill update the dialogTemplate file got over written with the pulled file. Existing code should magically re add user configured data  back into the new dialogTemplate file.but it didn't

**To Reproduce**
Steps to reproduce the behavior:
1. turn on skill updates and restart Alice when there is a new HA relaease available'

**Expected behavior**
The dia

[2020-11-08 02:47] LazzaAU commented on #136
Re tested and it does actually work. Think i was just a little quick to raise a issue

[2020-11-08 02:47] #136 closed, assigned to LazzaAU

[2020-11-09 05:03] LazzaAU opened #137 "[New skill] HLCpattern"
- My skill name: HLC pattern

- What does my skill do: A simple skill to allow a user to change the pattern of their Alice LEDs as there is currently no easy way to do it once installed. The skill DOES use 3 sudo commands so please confirm if that's acceptable :)

- The skill github repository url: https://github.com/LazzaAU/skill_HLCpattern

- Did you check prior if there's already a skill existi

[2020-11-12 10:51] Psychokiller1888 commented on #137
Thank you for this new skill!

It was just forked on https://github.com/project-alice-assistant/skill_HLCpattern and released!

Please subscribe to track your plugin's health:
https://github.com/project-alice-assistant/skill_HLCpattern
https://sonarcloud.io/project/configuration?id=project-alice-assistant_skill_HLCpattern
https://gitlab.com/project-alice-assistant/skills/skill_HLCpattern

[2020-11-12 10:51] #137 closed, assigned to Psychokiller1888

[2020-11-15 08:04] LazzaAU commented on #54
updated and improved

[2020-11-15 08:04] #54 closed, assigned to LazzaAU

[2021-02-19 06:16] LazzaAU opened #138 "[New skill] UnitConverter"
- My skill name: UnitConverter

- What does my skill do: Converts one unit to another of similar type.
EXAMPLES:

*syntax* = Convert \<number> \<first Unit> to / into \<second Unit>
 - Convert 30 grams to ounces
 - What is 10 kilometers in miles
 -  What's 30 degrees fahrenheit in Celsius

 Compare units
 *syntax* How many \<first unit> in a \<second unit>
 - how many teaspoons in a tablespoon

-

[2021-02-20 12:50] Psychokiller1888 commented on #138
Thanks for your hard work, awesome!

The fork: https://github.com/project-alice-assistant/skill_UnitConverter
Sonarcloud: https://sonarcloud.io/dashboard?id=project-alice-assistant_skill_UnitConverter
Gitlab: https://gitlab.com/project-alice-assistant/skills/skill_unitconverter

[2021-02-20 12:50] #138 closed, assigned to Psychokiller1888

[2021-03-24 19:22] LazzaAU opened #139 "[IDEA] Reminder skill- new timers"
**Describe the solution you'd like**

new  enhancements of the skill reminder, Predefined timers
        "teatime"                  - 3 minutes
        "teatime long"         - 7 minutes
        "hand wash soap"   - 20 seconds (corona related) new standard
        "hand wash spirit"  - 30 seconds (corona related) new standard
        "toothbrush"            - 2 minutes

**Describe alternatives you

[2021-04-07 10:58] LazzaAU commented on #139
done

[2021-04-07 10:58] #139 closed, assigned to LazzaAU

[2021-06-09 07:21] hipitihop opened #140 "[BUG] SpeedTest fails on RC3"
**Describe the bug**
Running SpeedTest fails silently. She acknweldges that she will return in a while but never does.

**To Reproduce**
Ask her to run a speed test.

**Expected behavior**
Run the speed test and report results, or report that something went wrong and to check the logs.

**Logs**
Get your logs at ~/ProjectAlice/var/logs

[code]

**Alice version**
1.0.0-RC1

**Additional context**
W

[2021-06-27 02:14] hipitihop commented on #140
Still occurring on RC5

[code]

[2021-09-12 11:01] LazzaAU opened #141 "[BUG] Telemetry reporting error"
**Describe the bug**
Asking Alice " what's the inside temperature" returns `[WARNING] - [DatabaseManager]         Error fetching data for component TelemetryManager in table telemetry: Error binding parameter :type - probably unsupported type.`
This used to work fine 6 months ago, so picking its occured in recent-ish changes

**To Reproduce**

Ask Alice for a telemetry value. IE: whats the kitchen

[2022-07-20 20:38] #102 closed, assigned to nobody

[2022-08-18 12:09] LazzaAU opened #142 "[New skill] GPSD to MQTT"
- My skill name: GPSD to MQTT

- What does my skill do:

For those of us that travel alot, whether that be by boat or by motorhome / RV, being able to track your location coordinates or your vehicles / mobile home can be important, especially if using a home automation system like  Home assistant to detect presence.

This skill takes the data produced by a GPS receiver and allows the user to send

[2022-09-11 11:50] LazzaAU opened #143 "[New skill] Internet Radio"
*Dear Psycho, blablabla....*

Ok, seriously, thank you for your work! Please fill the following informations so that we can review your skill and decide if it is in a publishable state. Do not remove the fields, but answer to them.

- My skill name: InternetRadio

- What does my skill do: Plays internet radio :)

- The skill github repository url: https://github.com/LazzaAU/skill_InternetRadio

-

[2022-09-21 21:54] LazzaAU opened #144 "[New skill] SendTextMessage"
*Dear Psycho, blablabla....*

Ok, seriously, thank you for your work! Please fill the following informations so that we can review your skill and decide if it is in a publishable state. Do not remove the fields, but answer to them.

- My skill name: SendTextMessage

- What does my skill do:
1. Send a emergency Text or Telegram message (if configured) to emergency contacts if for example you have f

[2022-09-26 22:08] philipp2310 commented on #143
I'm currently translating to german and reviewing in the progress, to prevent double work, I fix the small things right away and just document it for future work:

## Talk/Dialog Files:
- [X] Message names should be speaking: dialogMessageX => NrOutOfRange/StationNotFound/Confirmation/StartPlaying/StopPlaying
- [X] The "short" message should still be informative enough, as it can be a default, not

[2022-09-26 22:52] LazzaAU commented on #143
- Why should the user edit the config.json.template??
  - good point. It's done that way because i couldn't think of another way for the user to "select"  a radio station. I did transfer it to a stations.json file at one stage but that proved to be annoying because it required Alice to list the stations to choose from in the systemlog or announce them and then have the user choose verbally kinda t

[2022-10-14 07:40] hipitihop opened #145 "[IDEA] Skill where reminders are like scheduled actions"
This is more a placeholder to engage some thought before actual implementation. With the absence of https://docs.github.com/en/discussions I will capture some thoughts here and invite design discussion.

It is a variation of reminders, where when "the time" comes, we don't just utter something using TTS, but can invoke an action/automation.

**Core Idea**
I would like to be able to schedule an act